# Data Structures

# List

In [1]:
#string
my_list=["Sumka","Qalam","Forma"]
my_list

['Sumka', 'Qalam', 'Forma']

In [2]:
#int
my_list2=["1,2,4,5,6"]
my_list2

['1,2,4,5,6']

In [4]:
#mix
my_list2=[2,"Sumka",2.2,True]
my_list2

[2, 'Sumka', 2.2, True]

In [14]:
#Indexing
new_list=[2,3,4,5,6]
new_list[2]

4

In [15]:
#list[index_number]
new_list[-2]

5

In [16]:
new_list

[2, 3, 4, 5, 6]

In [17]:
#list[index1:]----malum bir sondan oxirgi songacha ajratib olish
new_list[2:]

[4, 5, 6]

In [18]:
a=[2,3,4,5,6]
a[:2]

[2, 3]

In [25]:
#Ikki son orasidagi sonlarni chiqarish

new_list[1:4]

[3, 4, 5]

In [20]:
new_list

[2, 3, 4, 5, 6]

In [26]:
new_list.index(4)

2

In [27]:
#list.index(value)
new_list.index(3)

1

In [28]:
#List ga malum bir elementlarni qoshish va yarish
new_list.append(1)

In [29]:
new_list

[2, 3, 4, 5, 6, 1]

In [30]:
my_list.append(1)
my_list

['Sumka', 'Qalam', 'Forma', 1]

In [32]:
my_list2.index("Sumka")

1

In [33]:
#istalgan joyga malumot qoshish

new_list.insert(2,2.5)
new_list

[2, 3, 2.5, 4, 5, 6, 1]

In [34]:
new_list

[2, 3, 2.5, 4, 5, 6, 1]

In [37]:
#malumotni olib tashlash
new_list.pop()
new_list

[2, 2.5, 4, 5]

In [38]:
new_list

[2, 2.5, 4, 5]

In [39]:
del new_list[2]

In [40]:
new_list

[2, 2.5, 5]

In [42]:
#Empty list(bosh list xosil qilish)
a=[4,5,6,7,8]
b=[]
print(b)

[]

In [44]:
for i in a:
    b.append(i)
    print(b)

[4]
[4, 5]
[4, 5, 6]
[4, 5, 6, 7]
[4, 5, 6, 7, 8]

In [45]:
c=[5,4,6,7,5]
d=[]
for i in c:
    if i%2==0:
        d.append(i)
        print(d)

[4]
[4, 6]

In [50]:
len(my_list)
len(my_list2)
len(new_list)
len(a)
len(b)
len(c)
len(d)

print(my_list)
print(my_list2)
print(new_list)
print(a)
print(b)
print(c)
print(d)

['Sumka', 'Qalam', 'Forma', 1]
[2, 'Sumka', 2.2, True]
[2, 2.5, 5]
[4, 5, 6, 7, 8]
[4, 5, 6, 7, 8]
[5, 4, 6, 7, 5]
[4, 6]

# Set

In [55]:
my_set={3,2,4,5,1}
my_set

{1, 2, 3, 4, 5}

In [4]:
a1={1, 2, 3, 4, 5}

In [19]:
a1.add("ai")
a1

{1, 100, 2, 3, 4, 5, 'ai'}

In [9]:
a1.add(100)
a1

{1, 100, 2, 3, 4, 5, 'ai'}

In [20]:
a1.remove("ai")

In [21]:
a1

{1, 2, 3, 4, 5, 100}

In [25]:
#birlashtiradi
a1={1, 2, 3, 4}
b1={3, 4, 5, 6}
a1.union(b1)

{1, 2, 3, 4, 5, 6}

In [26]:
#oxshahsini topib beradi
a1={1, 2, 3, 4}
b11={3, 4, 5, 6}
a1.intersection(b1)

{3, 4}

In [27]:
#farqini korsatadi
a1={1, 2, 3, 4}
b1={3, 4, 5, 6}
a1.difference(b1)

{1, 2}

In [28]:
#ikkala to'plamda bo'lmagan elementlar
a={1, 2, 3, 4}
b={3, 4, 5, 6}
a.symmetric_difference(b)

{1, 2, 5, 6}

# Dictionary

In [29]:
my_dict={
    "ismi" : "Umar",
    "kasbi" : "O'quvchi",
    "yoshi" : "20 yosh",
    "yashash joyi" : "Andijon",
    "o'qish joyi" : "ADU",
    "kursi" : "1 kurs",
    "holati" : "Uylanmagan"
}
my_dict

{'ismi': 'Umar',
 'kasbi': "O'quvchi",
 'yoshi': '20 yosh',
 'yashash joyi': 'Andijon',
 "o'qish joyi": 'ADU',
 'kursi': '1 kurs',
 'holati': 'Uylanmagan'}

In [30]:
len(my_dict)

7

In [31]:
my_dict.keys()

dict_keys(['ismi', 'kasbi', 'yoshi', 'yashash joyi', "o'qish joyi", 'kursi', 'holati'])

In [32]:
my_dict.values()

dict_values(['Umar', "O'quvchi", '20 yosh', 'Andijon', 'ADU', '1 kurs', 'Uylanmagan'])

In [39]:
my_dict.items()

dict_items([('ismi', 'Umar'), ('kasbi', "O'quvchi"), ('yoshi', '20 yosh'), ('yashash joyi', 'Andijon'), ("o'qish joyi", 'ADU'), ('kursi', '1 kurs'), ('holati', 'Uylanmagan')])

In [37]:
#qo'shish
my_dict["ish joyi"]="yoq"
my_dict

{'ismi': 'Umar',
 'kasbi': "O'quvchi",
 'yoshi': '20 yosh',
 'yashash joyi': 'Andijon',
 "o'qish joyi": 'ADU',
 'kursi': '1 kurs',
 'holati': 'Uylanmagan',
 'ish joyi': 'yoq'}

In [38]:
#o'chirib
del my_dict["ish joyi"]
my_dict

{'ismi': 'Umar',
 'kasbi': "O'quvchi",
 'yoshi': '20 yosh',
 'yashash joyi': 'Andijon',
 "o'qish joyi": 'ADU',
 'kursi': '1 kurs',
 'holati': 'Uylanmagan'}

In [40]:
for key in my_dict:
    print(key)

ismi
kasbi
yoshi
yashash joyi
o'qish joyi
kursi
holati

In [41]:
"ismi" in my_dict

True

In [42]:
if "ismi" in my_dict and "kasbi" in my_dict:
   result=my_dict["ismi"]+"-"+ my_dict["kasbi"]
print(result)

Umar-O'quvchi

In [43]:
ismi = "Umar"
yoshi = 20 
print(f"ismi {ismi} va yoshi {yoshi}" ,)

ismi Umar va yoshi 20

# Tuple

In [44]:
my_tuple=(1,2,3,4)
my_tuple

(1, 2, 3, 4)

In [45]:
my_list4=[1,2,3]
my_list4

[1, 2, 3]

In [46]:
my_tuple[0]
my_tuple[-1]

4

In [47]:
#slicing (kesish)
my_tuple[1:]

(2, 3, 4)

In [48]:
#elementlar qo'shish
temp_list=list(my_tuple)
temp_list.append(7)
my_tuple=tuple(temp_list)
my_tuple

(1, 2, 3, 4, 7)

In [49]:
#Elementlarni olib tashlash
temp_list=list(my_tuple)
temp_list.pop()
my_tuple=tuple(temp_list)
my_tuple

(1, 2, 3, 4)

In [50]:
 my_tuple

(1, 2, 3, 4)

In [52]:
my_list4.append(7)
my_list4

[1, 2, 3, 5, 7]

In [61]:
#elementlarni xisoblash
my_tuple.count(1)

1

In [62]:
#Tuple opearations
#Concantination
a0=(1,2)
b0=(3,4)
a0+b0

(1, 2, 3, 4)

In [63]:
a0*2

(1, 2, 1, 2)

In [65]:
#Tekshirish
1 in a0

True

In [72]:
min (a0)

1

In [73]:
max(b0)

4

In [78]:
a5=(4,3,7,5,3,3)
a5

(4, 3, 7, 5, 3, 3)

In [85]:
a5=(4,3,7,5,3,3) 
sorted (a5)

[3, 3, 3, 4, 5, 7]

In [86]:

del (a5)