# List boyicha qilingan vazifalar

In [3]:
my_list=[1,2,3,4,5,6,7,8,9,10]
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
a=[1,2,3,4,5,6,7,8,9,10]
for num in a:
    if num%2!= 0:
        print(f"Toq son: {num}")

Toq son: 1
Toq son: 3
Toq son: 5
Toq son: 7
Toq son: 9

In [10]:
a=[1,2,3,4,5,6,7,8,9,10]
for num in a :
    if num%2==0:
        print(f"Juft son:{num}")

Juft son:2
Juft son:4
Juft son:6
Juft son:8
Juft son:10

In [13]:
new_list=["mango","grapes","pineapple"]
new_list

['mango', 'grapes', 'pineapple']

In [14]:
a=["mango","grapes","pineapple"]

In [16]:
a.remove("mango")

In [19]:
a

['grapes', 'pineapple']

In [20]:
len(a)

2

In [23]:
numbers=[10, 5, 3, 8, 20, 15]

min_num=min(numbers)
max_num=max(numbers)

print(f"The smallest number is: {min_num}")
print(f"The largest number is: {max_num}")

The smallest number is: 3
The largest number is: 20

# Set boyicha qilingan vazifalar

In [34]:
my_set={2,1,4,3,5,7,6,8,10,9}

In [35]:
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [40]:
a={1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [45]:
a.add("python")

In [46]:
a

{1, 10, 2, 3, 4, 5, 6, 7, 8, 9, 'python'}

In [47]:
a.add(100)

In [48]:
a

{1, 10, 100, 2, 3, 4, 5, 6, 7, 8, 9, 'python'}

In [50]:
a.remove("python")

In [51]:
a.remove(100)

In [52]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [53]:
a={1, 2, 3, 4}
b={3, 4, 5, 6}
a.union(b)

{1, 2, 3, 4, 5, 6}

In [54]:
a={1, 2, 3, 4}
b={3, 4, 5, 6}
a.intersection(b)

{3, 4}

In [56]:
a={1, 2, 3, 4}
b={3, 4, 5, 6}
a.difference(b)

{1, 2}

In [59]:
a={1, 2, 3, 4}
b={3, 4, 5, 6}
a.symmetric_difference(b)

{1, 2, 5, 6}