In [106]:
import pandas as pd
import lightgbm as lgb
from sklearn.metrics import r2_score,mean_squared_error

In [107]:
df=pd.read_csv("house_prices.csv")

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  Unnamed: 62    1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [109]:
df.drop("Condition1", axis=1,inplace=True)
df.drop("Condition2", axis=1,inplace=True)
df.drop("BldgType", axis=1,inplace=True)
df.drop("LotArea", axis=1,inplace=True)
df.drop("LandSlope", axis=1,inplace=True)
df.drop("OverallCond", axis=1,inplace=True)
df.drop("OverallQual", axis=1,inplace=True)
df.drop("SaleCondition", axis=1,inplace=True)
df.drop("YrSold", axis=1,inplace=True)
df.drop("MoSold", axis=1,inplace=True)

df.drop("MSSubClass", axis=1,inplace=True)
df.drop("MSZoning", axis=1,inplace=True)
df.drop("Exterior1st", axis=1,inplace=True)
df.drop("Exterior2nd", axis=1,inplace=True)
df.drop("MasVnrType", axis=1,inplace=True)
df.drop("MasVnrArea", axis=1,inplace=True)
df.drop("SaleType", axis=1,inplace=True)
df.drop("Neighborhood", axis=1,inplace=True)
df.drop("YearRemodAdd", axis=1,inplace=True)

df.drop("LotConfig", axis=1,inplace=True)
df.drop("ExterQual", axis=1,inplace=True)
df.drop("ExterCond", axis=1,inplace=True)
df.drop("RoofMatl", axis=1,inplace=True)
df.drop("Foundation", axis=1,inplace=True)
df.drop("BsmtQual", axis=1,inplace=True)
df.drop("BsmtCond", axis=1,inplace=True)
df.drop("BsmtExposure", axis=1,inplace=True)
df.drop("BsmtFinType1", axis=1,inplace=True)
df.drop("BsmtFinSF1", axis=1,inplace=True)
df.drop("MiscVal", axis=1,inplace=True)

df.drop("LotFrontage", axis=1,inplace=True)
df.drop("RoofStyle", axis=1,inplace=True)
df.drop("BsmtFinType2", axis=1,inplace=True)
df.drop("BsmtFinSF2", axis=1,inplace=True)
df.drop("BsmtUnfSF", axis=1,inplace=True)
df.drop("TotalBsmtSF", axis=1,inplace=True)
df.drop("HeatingQC", axis=1,inplace=True)
df.drop("1stFlrSF", axis=1,inplace=True)
df.drop("2ndFlrSF", axis=1,inplace=True)
df.drop("MiscFeature", axis=1,inplace=True)

df.drop("Electrical", axis=1,inplace=True)
df.drop("LowQualFinSF", axis=1,inplace=True)
df.drop("GrLivArea", axis=1,inplace=True)
df.drop("BsmtFullBath", axis=1,inplace=True)
df.drop("BsmtHalfBath", axis=1,inplace=True)
df.drop("FullBath", axis=1,inplace=True)
df.drop("HalfBath", axis=1,inplace=True)
df.drop("BedroomAbvGr", axis=1,inplace=True)
df.drop("KitchenAbvGr", axis=1,inplace=True)
df.drop("Fence", axis=1,inplace=True)

df.drop("LotShape", axis=1,inplace=True)
df.drop("KitchenQual", axis=1,inplace=True)
df.drop("TotRmsAbvGrd", axis=1,inplace=True)
df.drop("Functional", axis=1,inplace=True)
df.drop("Fireplaces", axis=1,inplace=True)
df.drop("FireplaceQu", axis=1,inplace=True)
df.drop("GarageYrBlt", axis=1,inplace=True)
df.drop("GarageFinish", axis=1,inplace=True)
df.drop("GarageCars", axis=1,inplace=True)
df.drop("Unnamed: 62", axis=1,inplace=True)
df.drop("PoolQC", axis=1,inplace=True)

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   Street         1460 non-null   object
 2   Alley          91 non-null     object
 3   LandContour    1460 non-null   object
 4   Utilities      1460 non-null   object
 5   HouseStyle     1460 non-null   object
 6   YearBuilt      1460 non-null   int64
 7   Heating        1460 non-null   object
 8   CentralAir     1460 non-null   object
 9   GarageType     1379 non-null   object
 10  GarageQual     1379 non-null   object
 11  GarageCond     1379 non-null   object
 12  PavedDrive     1460 non-null   object
 13  WoodDeckSF     1460 non-null   int64
 14  OpenPorchSF    1460 non-null   int64
 15  EnclosedPorch  1460 non-null   int64
 16  3SsnPorch      1460 non-null   int64
 17  ScreenPorch    1460 non-null   int64
 18  PoolArea       1460 non-null   int64
 19  SalePrice      1460 non-null   int64
dtypes: int64(9), object(11)
memory usage: 228.3+ KB

In [111]:
df.isnull().sum()

Id                  0
Street              0
Alley            1369
LandContour         0
Utilities           0
HouseStyle          0
YearBuilt           0
Heating             0
CentralAir          0
GarageType         81
GarageQual         81
GarageCond         81
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
SalePrice           0
dtype: int64

In [112]:
df.head()

,Id,Street,Alley,LandContour,Utilities,HouseStyle,YearBuilt,Heating,CentralAir,GarageType,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,SalePrice
0,1,Pave,NaN,Lvl,AllPub,2Story,2003,GasA,Y,Attchd,TA,TA,Y,0,61,0,0,0,0,208500
1,2,Pave,NaN,Lvl,AllPub,1Story,1976,GasA,Y,Attchd,TA,TA,Y,298,0,0,0,0,0,181500
2,3,Pave,NaN,Lvl,AllPub,2Story,2001,GasA,Y,Attchd,TA,TA,Y,0,42,0,0,0,0,223500
3,4,Pave,NaN,Lvl,AllPub,2Story,1915,GasA,Y,Detchd,TA,TA,Y,0,35,272,0,0,0,140000
4,5,Pave,NaN,Lvl,AllPub,2Story,2000,GasA,Y,Attchd,TA,TA,Y,192,84,0,0,0,0,250000

In [113]:
categorical_columns=df.select_dtypes(include=["object"]).columns.tolist()

for col in categorical_columns:
    df[col] = df[col].astype("category")

In [114]:
x=df.drop("SalePrice", axis=1)
y=df["SalePrice"]

In [115]:
train_data=lgb.Dataset(x, label=y, categorical_feature=categorical_columns)

In [116]:
params = {
    "objective" : "regression",
    "metric" : "rmse"
}

In [117]:
model = lgb.train( params, train_data)

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000401 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 851
[LightGBM] [Info] Number of data points in the train set: 1460, number of used features: 16
[LightGBM] [Info] Start training from score 180921.195890

In [118]:
y_pred = model.predict(x)

mse = mean_squared_error(y, y_pred)
print(f"Mean squared error: {mse}")

r2 = r2_score(y, y_pred)
print(f"R2 score: {r2}")

Mean squared error: 955624249.2015158
R2 score: 0.8484768854593547

In [119]:
df.to_csv("lightgbm.csv", index=False)